body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Common CSS */

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    color: #575757;
    font-size: 35px;
}

h3 {
    font-size: 25px;
    padding: 0 20px;
    text-align: left;
}

span {
    color: #FBA24F;
}

p {
    color: gray;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.link-button {
    color: #fff;
    background: linear-gradient(to right, #FBA24F, #FE4C2F);
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
}

/* Top Banner */

.top-banner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-banner-right img {
    width: 90%;
}

/* About Us */

.about-us-right {
    padding-right: 5%;
}

.description-text {
    font-size: 18px;
    color: #575757;
}

.about-us {
    background-image: url(../images/fg-about-bg.png);
    background-repeat: no-repeat;
    padding: 60px 0;
}

.about-us-left img {
    width: 90%;
}

/* My Recipie */

.our-recipie {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.our-recipie-item {
    width: 33%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 30px;
    padding-top: 15px;
    box-shadow: 0 0 30px 5px gainsboro;
}

.our-recipie-item img {
    width: 90%;
    border-radius: 25px;
}

.our-recipie-item p {
    padding: 0 20px;
    text-align: left;
}

/* Numbers Section */

.number-section {
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    box-shadow: 0 0 30px 5px gainsboro;
}

.number-section-item {
    width: 33%;
    text-align: center;
    padding: 60px 0px;
}

.number-section-item h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}

.number-section-item p {
    margin: 0;
    padding: 0;
}

/* Footer Section */

footer {
    background-color: #0B0D17;
    padding-top: 25px;
    padding-bottom: 40px;
}

footer h2 {
    text-align: center;
    text-transform: uppercase;
}

footer .description-text {
    color: #fff;
    text-align: center;
}